@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.section-accueil {
    width: 33%;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

#logo {
    width: 100px;
}

.page-accueil {
    display: flex;
}

textarea{
    width: 100%;
    padding: 10px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
}

input{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

input:hover{
    background-color:#4095c6;
}

@media all and (max-width:30em){
	.input{
    display:block;
    margin:0.2em auto;
    }
}

#the-count {
	float: right;
	padding: 0.1rem 0 0 0;
	font-size: 0.875rem;
  }

.profil-lien {
    text-decoration: none;
    color: #4095c6;
    font-size: 1.3em;
    font-weight: 700;
}

.profil-lien:hover {
    background-color:  #cceeff;
    border-bottom: solid 3px#4095c6;
}


.li-profil-lien {
    margin-bottom: 30px;  
}

.list-profil {
    position: fixed;
    list-style: none;
    margin-left: 200px;
    margin-right: 120px;
}

i{
    margin-right: 10px;
}


#all-tweet {
    margin: 30px;
}

.each-tweet {
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px #d7d7da;
    word-wrap: break-word;
}

.each-tweet:hover {
    background-color: #f2f2f3;
}


.tweet-info {
    display: flex;
}

.date-tweet {
    color:#62626a;
    font-weight: 300;
    margin: 0;
    margin-left: 10px;
}

#pseudo-tweet {
    font-weight: 800;
    text-decoration: none;
    color: black;
}

#pseudo-tweet:hover {
    border-bottom: solid 1px black;
}

.message-tweet {
    margin: 8px;
}

